FORMAT: 1A
HOST: http://deploy.cwp.govt.nz/naut

# Deploynaut API

This API is a newly developed interface for the CWP Dashboard.

## Instances [/projects]

### List All Instances [GET /projects]

Will return a list of all instances that you have the authority to view, with relevant datapoints.

+ Response 200 (application/json)

        {
            "data": [
                {
                    "type": "instances",
                    "id": "CWP001",
                    "name": "CWP Instance 001",
                    "primary_domain": "mom.govt.nz",
                    "agency": "Ministry of Magic",
                    "size": "large",
                    "disaster_recovery": "active",
                    "created": "02-07-2014",
                    "environments": {
                        "data": [
                            {
                                "type": "environments",
                                "id": "1",
                                "name": "prod",
                                "build_sha": "d0bcf80381579a529957d77a6b0a69303afebe7e",
                                "deployer": "Albus Dumbledore",
                                "date": "24-01-2017"
                            },
                            {
                                "type": "environments",
                                "id": "2",
                                "name": "uat",
                                "build_sha": "d0bcf80381579a529957d77a6b0a69303afebe7e",
                                "deployer": "Severus Snape",
                                "date": "23-01-2017"
                            }
                        ]
                    }
                },
                {
                    "type": "instances",
                    "id": "CWP002",
                    "name": "CWP Instance 002",
                    "primary_domain": "butsiriusly.govt.nz",
                    "agency": "Ministry of Magic",
                    "size": "small",
                    "disaster_recovery": "none",
                    "created": "07-07-2016",
                    "environments": {
                        "data": [
                            {
                                ...
                            }
                        ]
                    }
                }
            ]
        }

### Get data about an instance [GET /project/$name]

Get data about a specific instance

+ Response 200 (application/json)

        {
            "data": {
                "type": "instances",
                "id": "CWP001",
                "name": "CWP Instance 001",
                "primary_domain": "mom.govt.nz",
                "agency": "Minstry of Magic",
                "size": "large",
                "disaster_recovery": "active",
                "created": "02-07-2014",
                "environments": {
                    "data": [
                        {
                            "type": "environments",
                            "id": "1",
                            "name": "prod",
                            "build_sha": "d0bcf80381579a529957d77a6b0a69303afebe7e",
                            "deployer": "Albus Dumbledore",
                            "date": "24-01-2017"
                        },
                        {
                            "type": "environments",
                            "id": "2",
                            "name": "uat",
                            "build_sha": "d0bcf80381579a529957d77a6b0a69303afebe7e",
                            "deployer": "Severus Snape",
                            "date": "23-01-2017"
                        }
                    ]
                }
            }
        }
        
### List users associated with an instance [GET /project/$id/users]

Returns a list of roles and users in those roles for an instance

+ Response 200 (application/json)

        {
            "data": [
                {
                    "type": "roles",
                    "id": "21",
                    "name": "Instance Manager",
                    "users": {
                        "data": [
                            {
                                "type": "users",
                                "id": "2379",
                                "name": "Albus Dumbledore",
                                "email": "sherbert.lemon@hogwarts.uk",
                                "phone": "0203040506"
                            },
                            {
                                "type": "users",
                                "id": "21279",
                                "name": "Severus Snape",
                                "email": "halfbloodprince@hogwarts.uk",
                                "phone": "020666666"
                            }
                        ]
                    }
                },
                {
                    "type": "roles",
                    "id": "22",
                    "name": "Deployment Manager",
                    "users": {
                        "data": {
                            "type": "users",
                            "id": "224",
                            "name": "Minerva McGonagall",
                            "email": "mcgryffindor@hogwarts.uk",
                            "phone": "02358222506"
                        }
                    }
                }
            ]
        }